@import './resets';
@import './variables';

@function weight($weight-name){
    @return map-get($font-weights, $weight-name)
}

@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}


@mixin theme($light-theme: true){
    @if $light-theme{
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

body{
    background: $primary-color;
    color: $text-color;
}

.main{
    @include flexCenter(row);
    // her i can use both of them
    // width: 80%-20%;
    width: calc(80%-200px);
    margin: 0 auto;
    #{&}_paragraph1{
        font-weight: weight(bold);

        &:hover{
            color: green;
        }
    }

    #{&}_paragraph2{
        @extend .main_paragraph1;

        &:hover{
            color: $secondary-color;
        }
    }

    #{&}_paragraph3{
        @extend .main_paragraph1;

        &:hover{
            color:hotpink;
        }
    }

    #{&}_paragraph4{
        @extend .main_paragraph1;

        &:hover{
            color: indigo;
        }
    }

    @include mobile{
        flex-direction: column;
    }

}

.light{
    @include theme($light-theme: true);
}